.reset-password-box {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reset-password-box h2 {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  color: white;
  font-family: 'Inter', sans-serif;
}

.reset-password-box p {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.9);
  max-width: 320px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left; 
}

.input-group input {
  width: 100%;
  padding: 14px 16px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 15px;
  box-sizing: border-box;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    outline: none;
    border-color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
  }
}

.reset-btn {
  width: 85%; 
  padding: 14px;
  border: none;
  border-radius: 30px; 
  background-color: #051937; 
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  margin-bottom: 20px;

  &:hover {
    background-color: #0a2647;
    transform: translateY(-1px);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


.back-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;

  span {
    color: #4dabf7; 
    font-weight: 500;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}