.signup-box {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background: transparent;
  border-radius: 0;
  box-shadow: none
}

.signup-box h2 {
  margin-bottom: 5px;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
}

.input-group input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.signup-box p {
  margin-top: 0;      /* Removes gap from top of paragraph */
  margin-bottom: 30px; /* Space before the first input */
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.signup-btn:hover {
  background-color: #0056b3;
}