.auth-title {
  font-size: 45px;
  font-weight: 600;
  color: white;
  margin-bottom: 8px;
  font-family: 'Calsitoga', serif;
  margin-bottom: 5px;
  line-height: 1.1;
}

.auth-subtitle {
  font-size: 32px;
  font-weight: 300;
  color: white;
  font-family: 'Salsa', serif;
  margin-bottom: 25px;
  margin-top: 0;
  padding-bottom: 10px;
}