@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');


.input-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.input-label {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-field {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.08);
  color: white;
  outline: none;
  font-size: 18px;
  transition: 0.2s;
  font-family: 'Sahitya', serif;
  font-weight: 400;
  line-height: 1.6;
  
}
.input-field::placeholder{
  color: #ffffffdf;
  font-size: 18px;

}


.input-field:focus {
  border: 1px solid rgba(255,255,255,0.6);
  background: rgba(255,255,255,0.12);
  font-family: 'Sahitya', serif;
  font-size: 18px;
}