.primary-btn {
  width: 100%;
  max-width: 250px;
  padding: 9px 14px;
  border-radius: 10px;
  border: none;
  background: #011d3a;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  margin-left: 100px;
  cursor: pointer;
  transition: 0.2s ease;
  display: block;
}