.rp-auth-link {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  font-family: 'Salsa', serif;
  font-weight: 700;
  text-align: center;
}

.rp-auth-link span {
  color: #38bdf8;
  cursor: pointer;
  font-weight: 700;
}