.rp-title {
  font-size: 45px;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
  font-family: 'Calsitoga', serif;
  line-height: 1.1;
  text-align: center;
}

.rp-subtitle {
  font-size: 24px;
  font-weight: 300;
  color: white;
  font-family: 'Salsa', serif;
  margin-bottom: 35px;
  margin-top: 0;
  text-align: center;
  white-space: nowrap;
}